<%= render "layouts/top_adm" %>

<div class="row">
	<section class="six columns" >

	</section>
</div>
<div class="row">
	<section class="six  columns">
		<div class="visitas">
			<h3>Perfil das Visitas</h3>
			<div id="pf-visitas" style="height:450px; max-width:700px;"></div>
		</div>
	</section>
</div>

<!-- Edvane Batista
edvane_tecnico@hotmail.com
8489-4304

NY
20/01
 -->