			<div class="six columns">
				<div class="formulario-reserva">
					<div class="f-celular nao-mostra-pc">
						<div class="mobile-bts">
							<div class="grid-2-2-2">
								<a href="#" class="switch origem" gumby-trigger="#buscar-origem-m">
									<div class="bt-origem-m-left">
										<span class="m-sigla" >Origem</span>
										
										<span class="m-nome">Cidade ou Aeroporto</span>
									</div>
								</a>
							</div>
							<div class="grid-2-2-2">
								<a href="#" class="switch origem" gumby-trigger="#buscar-destino-m">
									<div class="bt-origem-m-right" >
										<span class="m-sigla">Destino</span>
										<span class="m-nome">Cidade ou Aeroporto</span>
									</div>
								</a>
							</div>
							<div class="centro-bts">
								<i class="icon-paper-plane"></i>
							</div>
						</div>
						<div class="mobile-calendario">

							<div class="grid-2-2-2">
								<div class="cl-origem-left">
									<span class="data-label">Data ida</span>
									<span class="data-data">8 de OUT</span>
									<span class="data-semana">Quarta Feira</span>
								</div>
							</div>
							<div class="grid-2-2-2">
								<div class="cl-origem-right">
									<span class="data-label">Data Volta</span>
									<span class="data-data">9 de OUT</span>
									<span class="data-semana">Quarta Feira</span>
								</div>
							</div>
							<div class="centro-bts">
								<i class="icon-calendar"></i>
							</div>
							
						</div>
						<div class="mobile-pessoas">
							<div class="grid-3-3-3">
								<div class="m-adultos">
									<span class="label-adultos">Adultos</span>		
									<i class="ad"></i>
									<div class="campo">
										<div class="c-mobile">
											1
											<div class="l-mobile">
												<i class="icon-minus"></i>
											</div>
											<div class="r-mobile">
												<i class="icon-plus"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="grid-3-3-3">
								<div class="m-crianca">
									<span class="label-crianca">Crianças</span>
									<i></i>
								</div>
							</div>
							<div class="grid-3-3-3">
								<div class="m-bebes">
									<span class="label-bebes">Bebês</span>
									<i></i>
								</div>
							</div>
						</div>
					</div>
					<div class="f-pc ocultar-celular">
						<div class="seta"></div>
						<div class="titulo ttip" data-tooltip="Seu próximo embarque começa aqui">
							<h1 ><span>Comprar</span> Passagens Aéreas</h1>
						</div>
						<div class="opt-1">
							<li class="field">
								<label class="radio" for="radio1">
									<input name="radio" id="radiobtn" value="1" type="radio" checked="checked">
									<span></span> Ida e Volta
								</label>
								<label class="radio" for="radio2">
									<input name="radio" class='somente-ida' value="2" type="radio">
									<span></span> Somente ida
								</label>
							</li>
						</div>
						<div class="locais">
							<div class="origem">
								<label>Origem:</label>
								<input class="input" type="text" placeholder="Escolha Origem..." />
							</div>
							<div class="destino">
								<label>Destino:</label>
								<input class="input" type="text" placeholder="Escolha Destino..." />
							</div>
						</div>
						<div class="datas">
							<div class="data-ida">
								<label>Data Ida:</label>
								<input class="input" type="text" placeholder="dd/mm/aaaa" />
								<i class="icon-layout"></i>
							</div>
							<div class="data-volta">
								<label>Data Volta:</label>
								<input class="input" type="text" placeholder="dd/mm/aaaa" />
								<i class="icon-layout"></i>
							</div>
						</div>
						<div class="pessoas">
							<div class="adultos">
								<label>Adultos:</label>
								<input class="input" type="text" id="adultos-qtd" placeholder="00" />
								<div class="aumentar">	
								</div>
								<div class="diminuir">
								</div>
							</div>
							<div class="criancas">
								<label>Crianças:</label>
								<input class="input" type="text" id="adultos-qtd" placeholder="00" />
								<div class="aumentar">	
								</div>
								<div class="diminuir">
								</div>
							</div>
							<div class="bebes">
								<label>Bebês:</label>
								<input class="input" type="text" id="adultos-qtd" placeholder="00" />
								<div class="aumentar">	
								</div>
								<div class="diminuir">
								</div>
							</div>
						</div>
						<div class="final">
							<div class="medium secondary btn">
								<a id='bsd' href="#">Buscar</a></div>
							</div>
						</div>
					</div>