<div class="modal" id="novo">
	<div class="content">
		<a class="close switch" gumby-trigger="|#novo"><i class="icon-cancel" /></i></a>
		<div class="row">
			<h3>Cadastar Pacotes</h3>
		</div>
	</div>
</div>