.centro{
	background: image-url("bg.jpg") 100%;
	background-attachment: fixed !important;
}
@import "paths/topo";
@import "paths/formulario";
.nacionais{
	background: #ffF;
	width: 100%;
	min-height: 300px;
	h2{
		font-family: 'Arista Light';
		font-size: 24pt;
		span{
			color: #178E88;
		}
	}
}
@import "paths/box";

.parallax {
	background-image: url(http://gumbyframework.com/img/img_parallax_demo.jpg);
	background-attachment: fixed !important;
}


.heade-destinos{
	height: 300px;
	background: image-url("rio.jpg") 100%;
	background-repeat: no-repeat;
	width: 100%;
	.corpo{
		width: 300px;
		background: white;
		height: 98px;
		padding-left: 22px;
		padding-top: 0px;
		border-radius: 10px 10px 44px 19px;
		margin-top: 123px;
		h1{
			font-size: 33pt;
			margin-bottom: -17px;
			font-weight: bold;
			font-family: 'Arista Light';
		}
		span{
			font-style: italic;
			font-family: 'Arista Light';
			font-size: 20px;
		}
		span.hashtag{

		}

	}
}
@media only screen and (max-width: 767px){
	.heade-destinos{
		background-position: center;
		height: 186px;
		margin-bottom: 24px;
	}
	.voltar{
		i{
			font-size: 15pt;
		}
	}
}

.info-destinos{
	p{
		padding-left: 20px;
		font-size: 13px;
		text-align: justify;
	}
}


@media only screen and (max-width: 767px){
	.ocultar-celular{
		display: none;
	}
	.box{
		margin: 0 auto;
	}
}
@import "var/settings";
@import "functions/all";

.grid-3-2-1 {
	@include fancytiles(3,2,1, $min-device-width, '650px', $row-max-width); 
	padding-left: 0px;
}
.grid-2-2-2 {
	width: 50%;
	float: left;
}
@media (min-width: 770px) { 
	.nao-mostra-pc{
		display: none;
	}
}
.modal{
	display: none;
}