<div class="topo">
	<div class="row">
		<div class="four columns">
			<div class="nav-top ocultar-celular">
				<ul>
					<li><%= nav_link 'Home', root_path %></li>

					<li><a href="Index">Pacotes</a></li>
					<li><a href="Index">Destinos</a></li>
					<li><a href="Index">Sobre</a></li>
				</ul>
			</div>
			<div class="nav-mobile nao-mostra-pc">
				<i class="icon-menu"></i>
			</div>
		</div>
		<div class="five columns">
			<div class="logo">
				
			</div>
		</div>
		<div class="three columns">
			<div class="atendimento ocultar-celular">
				<div class="fixo">(62) 3087-0404</div>
				<div class="radio">88*6010-Rádio</div>
				<div class="email">atendimento@proximoembarque.com.br</div>
			</div>
		</div>
	</div>
</div>
